<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <linK rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <tr>
            <th>Заголовок 1</th>
            <th>Заголовок 2</th>
        </tr>
        <tr>
            <td>{{param}}</td>
            <td>{{param}}</td>
        </tr>
    </table>
</div>

<script src="/static/js/jquery-2.2.0.min.js"></script>
</body>
</html>